extends layout

block layout-content
    //- Navbar
    nav.navbar.navbar-dark.bg-dark
        a.navbar-brand(href='#') Aerosonde 
    //- Grid for testing controls
    div.container
        div.row
            div.col-sm.border
                button.btn.btn-primary Action
            div.col-sm.border
                button.btn.btn-primary Action
            div.col-sm.border
                button.btn.btn-primary Action
        div.row
            div.col-sm.border
                button.btn.btn-secondary Action
            div.col-sm.border
                button.btn.btn-secondary Action
            div.col-sm.border
                button.btn.btn-secondary Action
        div.row
            div.col-sm.border
                button.btn.btn-success Action
            div.col-sm.border
                button.btn.btn-success Action
            div.col-sm.border
                button.btn.btn-success Action
        div.row
            div.col-sm.border
                button.btn.btn-danger Action
            div.col-sm.border
                button.btn.btn-danger Action
            div.col-sm.border
                button.btn.btn-danger Action
        div.row
            div.col-sm.border
                button.btn.btn-warning Action
            div.col-sm.border
                button.btn.btn-warning Action
            div.col-sm.border
                button.btn.btn-warning Action 
        div.row
            div.col-sm.border
                button.btn.btn-info Action
            div.col-sm.border
                button.btn.btn-info Action
            div.col-sm.border
                button.btn.btn-info Action
        div.row
            div.col-sm.border
                button.btn.btn-light Action
            div.col-sm.border
                button.btn.btn-light Action
            div.col-sm.border
                button.btn.btn-light Action
        div.row
            div.col-sm.border
                button.btn.btn-dark Action
            div.col-sm.border
                button.btn.btn-dark Action
            div.col-sm.border
                button.btn.btn-dark Action
        div.row
            div.col-sm.border
                button.btn.btn-link Link
            div.col-sm.border
                button.btn.btn-link Link
            div.col-sm.border
                button.btn.btn-link Link





