block variables 
doctype html
html
    head
        link(rel="stylesheet" href="/style.css")
        script(type="text/javascript")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")
        title #{title} | Aerosonde
    body
        div#root
            block layout-content 


